{% extends 'SymfonySite/base.html.twig' %}
{% block body %}
  <main class="photos-page">
    <div class="posts-container">
      {% for picture in pictures %}
          <div class="post-images">
            <img class="user-image" src="{{ asset('uploads/pictures/uploaded-pictures/'~picture.imagename) }}" onerror="this.onerror = null; this.src='{{asset('uploads/pictures/default/noimage2.png')}}' " alt="User's image">
            <div class="hover-image-container">
              <p class="hover-image-text"> <a href="{{ path('user-profile',{'username':picture.useradded})}}"> {{picture.useradded}}</a>'s image.Cat type: {{ picture.cattype }}<br>
              {% if picture.catcharacteristics == "NULL" %}
                Cat characteristics: Regular </p>
              {% else %}
                Cat characteristics: {{ picture.catcharacteristics }}
              {% endif %}
            </div>
          </div> 
     {% endfor %}  
    </div>
  </main>
{% endblock %}
    