{% extends 'SymfonySite/base.html.twig' %}
{% block body %}
  <main class="signup-page">
	<div class="signup-container">
    {{ form_start(form) }}
		<ul>
            <li class="signup-li">
				<div class="signup-td">
					{{ form_label(form,'Username',{'label_attr': {'class': 'signup-label'}}) }}
					{{ form_widget(form.uidusers, {'attr': {'class': 'signup-input'}}) }}
				</div>
            </li>
            <li class="signup-li">
				<div class="signup-td">
					{{ form_label(form,'Email',{'label_attr': {'class': 'signup-label'}}) }}
					{{ form_widget(form.emailusers, {'attr': {'class': 'signup-input'}}) }}
				</div>
            </li>
            <li class="signup-li">
				<div class="signup-td">
					{{ form_label(form,'Password',{'label_attr': {'class': 'signup-label'}}) }}
					{{ form_widget(form.plainPassword.first, {'attr': {'class': 'signup-input'}}) }}
				</div>
            </li>
            <li class="signup-li">
				<div class="signup-td">
					{{ form_label(form,'Repeat password',{'label_attr': {'class': 'signup-label'}}) }}
					{{ form_widget(form.plainPassword.second, {'attr': {'class': 'signup-input'}}) }}
				</div>
            </li >
            <li class="signup-li">
				<div class="signup-td">
					<button type="submit">Register!</button>
				</div>
            </li>
		</ul>
        
    {{ form_end(form) }}
	 
	</div>
  </main>
{% endblock %}