{% extends 'SymfonySite/base.html.twig' %}
{% block body %}
  <main class="signup-page">
	<div class="signup-container">
    {{ form_start(form) }}
		<ul>
            <li>
				{{ form_row(form.uidusers) }}
            </li>
            <li>
				{{ form_row(form.emailusers) }}
            </li>
            <li>
				{{ form_row(form.plainPassword.first) }}
            </li>
            <li>
				{{ form_row(form.plainPassword.second) }}
            </li>
            <li>
				<button type="submit">Register!</button>
            </li>
		</ul>
        
    {{ form_end(form) }}
	 
	</div>
  </main>
{% endblock %}