{% extends 'SymfonySite/base.html.twig' %}
{% block body %}
  <main>
    {{ form_start(form) }}

        {{ form_row(form.uidusers) }}
        {{ form_row(form.emailusers) }}
        {{ form_row(form.plainPassword.first) }}
        {{ form_row(form.plainPassword.second) }}

        <button type="submit">Register!</button>
    {{ form_end(form) }}
  </main>
{% endblock %}